body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.navbar {
    background-color: #f9f9f9;
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    border-bottom: 2px solid #33333352;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 13px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.navbar li {
    list-style-type: none;
    margin: 0 15px;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 0px;
}

.sidebar {
    background-color: #333;
    color:lightgray;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.shop-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.shop-info h3,
.shop-info h4 {
    margin-top: 15px;
}

.shop-info p {
    margin: 5px 0;
}

.more-about {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.main-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.collections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.collection-item {
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.collection-item img {
    width: 100%;
    height: 270px;
}

@media (max-width: 768px) {
    .nav_container{
        flex-direction: column;
        gap: 20px;
    }
    .nav_container h1{
        display: none;
    }
    .content {
        grid-template-columns: 1fr;
    }
    .collections {
        grid-template-columns: 1fr;
    }
}
