body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e4e9ff;
}

.open-btn {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    opacity: 0;
}

#modal:target {
    display: flex;
    opacity: 1;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: 500px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.close-btn a {
    color: #000;
    text-decoration: none;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

input[type="text"],
[type="email"] {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.card {
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 15px;
    padding: 10px;
}

.card-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.card-title {
    color: blue;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.card-desp {
    text-align: center;
    font-size: 1em;
    line-height: 25px;
    text-align: justify;
    padding: 3px;
    color: #555;
}

.card-btn {
    padding: 15px;
    text-align: center;
}

.open-btn:hover {
    background-color: #005a8d;
    transform: scale(1.05);
}
@media (max-width: 768px){
    .modal-content{
        margin: 20px;
    }
}